<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.0.2" targetFramework="net40" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.2" targetFramework="net40" />
  <package id="Autofac.Mvc3" version="2.6.3.862" targetFramework="net40" />
  <package id="Autofac.WebApi" version="3.0.2" targetFramework="net40" />
  <package id="Castle.Core" version="3.2.0" targetFramework="net40" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net40" />
  <package id="NHibernate" version="3.3.3.4000" targetFramework="net40" />
  <package id="NHibernate.Caches.SysCache2" version="3.2.0.4000" targetFramework="net40" />
  <package id="NHibernate.Linq" version="1.0" targetFramework="net40" />
</packages>